body {
    width: 100%;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper img {
    width: 700px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 600px) {
    .wrapper img {
        width: 300px;
    }
}